@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
html {
  background: rgb(236, 244, 255) ;
}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 320px;
  background-color: #000000;
}

body * {
  transition: all 500ms ease-in-out;
}

p {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  margin: 0 auto;
  justify-content: space-between;
  color: #eee;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
}

nav ul li a {
  text-decoration: none;
  color: #eee;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul:first-of-type li:first-of-type{
  font-weight: bold;
  font-size: 1.1rem;
}

header {
  position: relative;
}


header div {
  padding-top: 150px;
}

header div h1 {
  font-size: 75px;
}

header div p {
  width: 550px;
  font-size: 20px;
  line-height: 28px;
}

header img {
  position: absolute;
  z-index: -1;
  width: 1630px;
  right: -50%;
  top: -20px;
}

header div a {
  padding: 20px;
  display: block;
  margin-top: 70px;
  width: 170px;
  border-radius: 40px;
  color: #eee;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

header div a, .newsletter input[type="submit"] {
  border: 2px solid#939393;
  color: #A1A1A1;
}

header div a:hover, .newsletter input[type="submit"]:hover {
  background: #2E2E2E;
  color: #eee;  
}

header div a, .newsletter2  {
  border: 2px solid#A96BC1;
  color: #A1A1A1;
}

header div a:hover, .newsletter2:hover {
  background: #A96BC1;
  color: #eee;  
}

div {
  color: #eee;
}

main {
  margin-top: -150px;
}

h1 {
  font-size: 50px;
  color: #eee;
}

h2 {
  font-size: 37.5px;
  margin-bottom: 120px;
  color: #eee;
}

h3 {
  font-size: 30px;
  color: #eeee;
}

.span1 { 
  color:#56AACE; 
}

.span2 { 
  color:#A96BC1; 
}

.span3 { 
  color:#BBB29C; 
}

.services {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.service-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 250px;
  
}

.service-container-podcaster {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 250px;
  
}

.service-description{
  width:45%;
}

.service-description-podcaster{
  width:45%;
  text-align: right;
}

.services-card {
  width: 40%;
  height: 400px;
  background: #222;
  display: inline-block;  
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 52px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -19px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -19px rgba(0,0,0,0.75);
}

.main-nav {
  cursor: pointer;
  font-size: 20px;
  border-radius: 40px;
  border: 2px solid#1E456C;
  color: #eee;
  background: #1E456C;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.main-nav:hover  {
  cursor: pointer;
  font-size: 20px;
  background: #2E2E2E;
  color: #eee;  
}

.podcaster-nav {
  color: #A1A1A1;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid#A96BC1;
  color: #A1A1A1;
  background: #2E2E2E;
  text-decoration:none;
  padding-left: 100px;
  padding-right: 100px;
}

.podcaster-nav:hover  {
  cursor: pointer;
  font-size: 21px;
  background: #2E2E2E;
  color: #eee;  
  padding-top: 5px;
  padding-bottom: 5px;
}

.advertiser-nav {
  color: #A1A1A1;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid#939393;
  color: #A1A1A1;
  background: #2E2E2E;
  text-decoration:none;
  padding-left: 100px;
  padding-right: 100px;
}

.advertiser-nav:hover  {
  cursor: pointer;
  font-size: 21px;
  background: #2E2E2E;
  color: #eee;  
  padding-top: 5px;
  padding-bottom: 5px;
}

.newsletter {
  text-align: center;
  padding-top: 20px;
}

.newsletter * {
  border-radius: 5px;
  border: none;
  margin: 0px;
  font-size: 20px;
  color: #fff; 
}

.newsletter input[type="email"] {
  width: 61%;
  display: inline-block;
  border: 2px solid #222;
  margin-right: 20px;
  background: #C9C9C9;
  padding: 10px;
  
}

.newsletter input[type="submit"]{
  width: 150px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 40px;
  border-color: #1E456C;
  color: #C4C4C4;
  background: #1E456C;
  text-align:center;
}

.newsletter input[type="submit"]:hover {
  cursor: pointer;
  font-size: 20px;
  background: #2E2E2E;
  color: #eee;  
}

.leftColumn {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.rightColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightColumn-logo {
  
}

.rightColumn-button {
  justify-content: center;
  padding-right: 35%;
}

.thanks {
  font-size: 30px;
  width:70%;
  margin: 120px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.contact {
  width: 60%;
  margin: 0 auto;
  max-width: 900px;
}

.contact * {
  width: 100%;
  padding: 20px 0px;
  display: block;
  border-radius: 10px;
}

.contact input, .contact textarea {
  text-indent: 30px;
}

.contact input[type="submit"] {
  background: #1E456C;
  width: 30%;
  text-indent: 0px;
  color: #eee;
  font-size: 20px;
  border-radius: 40px;
  margin: 40px 0px 0px auto;
}

.contact input[type="submit"]:hover {
  cursor: pointer;
  font-size: 20px;
  background: #2E2E2E;
  color: #eee; 
}

.back {
  background: none;
  padding: 10px;
  border: none;
  border-bottom: 3px solid #1E456C;
  font-size: 14px;
  margin-top: 50px;
  cursor: pointer;
  color: #1E456C;
}

.spacing {
  padding:100px;
}

.spacing2 {
  padding-left: 30px;
}


@media screen and (max-width: 1150px){
  
  .service-container {
    display: flex;
    flex-direction: column;
  }

  .service-container-podcaster {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .services-card {
    width: 100%;
    height: 400px;
  }
  
  .service-description{
    width: 100%;
  }
 
  .service-one, .service-two, .service-three{
    background-size: 120% !important;
  }

  .contact input[type="submit"] {
    width: 40%;
  }

  .App-logo-hero {
    width: 300px;
    height: 300px;
  }

  .rightColumn-button {
    justify-content: center;
    padding-left: 45%;
  }

  .rightColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .rightColumn-logo {
    
  }
}

@media screen and (max-width: 950px) {

  header img {
    width: 730px;
    right: -50%;
    top: 520px;
  }

  .newsletter {
    width: 100%;
    
  }
  .newsletter input[type="email"] {
    width: 100%;
    margin-right: 0px;
  }
  
  .newsletter input[type="submit"]{
    
  }

  .contact {
    width: 90%;
  }
  
  .contact input[type="submit"] {
    width: 100%;
    margin: 40px 0px;
  }
}