@use "../../scss/abstracts/" as *;

.adBenefit{
    display: flex;
    margin-bottom: 40px;
    max-width: 450px;

    &__icon{
        margin-right: 50px;
    }

    &__content{
        h6{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        p{
            font-size: 12px;
            color: #F2F2F2;
        }
    }

    &:last-child{
        margin-bottom: 0;
    }

    @include tablet(){
        flex-direction: column;
        max-width: 100%;

        &__icon{
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
}