@use "../../scss/abstracts/" as *;

.resources {
  @include campaignSection();

  .content {
    border-color: rgba(78, 92, 241, 0.54);
    padding-bottom: 50px;
    justify-content: space-between;

    .text {
      width: 46%;
    }

    .img {
      width: 46%;
      text-align: center;

      .ucast-light-btn {
        padding: 12px 80px;
      }
    }

    .resourceInfo {
      max-width: 450px;

      h6 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        color: #f2f2f2;
      }
    }
  }

  @include tablet() {
    .content {
      .text,
      .img {
        width: 100%;
      }

      .resourceInfo {
        margin-bottom: 50px;
        max-width: 100%;
      }

      .text-center {
        padding: 0 30px;
        .ucast-light-btn {
          padding: 12px;
          display: block;
          width: 100%;
        }
      }
    }
  }
}
